
body{
	margin-top: 0px;
	background-color: white;
	font-weight: 500;
	font-family: Roboto Condensed;
	weight: 400;
	background-image: url("../Bilder/strasse1.jpg");
	background-size: 2000px 500px;
	background-repeat: no-repeat;
	background-position: 0px 200px;
}


.menu{
	
	width: 80%;
	margin: 0 auto;
	
}
header{
	
	background-color: #F2F2F2;
	box-shadow: 10px 10px 15px lightgrey;
	
}

header::after {
	content: '';
	display: table;
	clear: both;
	
	
}

.logo{
	
	float: left;
	padding: 0px 0;
}
nav{
	
	float: right;
	margin-right: 170px;
	
}

nav ul{
	
	margin: 0;
	padding: 0;
	list-style: none;
	
}

nav li{
	
	display: inline-block;
	margin-left: 70px;
	padding-top: 40px;
	
	
	position: relative;
}

nav a {
	
	color: #1C1C1C;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	
}

nav a:hover{
	
	color: #A4A4A4;
	
}

nav a::before{
	
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #A4A4A4;
	
	
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
	
}


nav a:hover::before{
	
	width: 100%;
	
}

.box1{
  border-radius: 10px;
  background: rgb(237, 237, 237, 0.69);
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  width: 60%;
  height: 500px;
  box-shadow: 10px 10px 15px lightgrey;
}


.box1>p{
	margin-top: 40px;
	font-size: 26px;
	height: 100px;
	position: absolute;
	
}
.button{
	
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	margin: auto;
	
}
.nummer1{
	
	background-color: white; 
    color: black; 
    border: 2px solid #A4A4A4;
	margin-top: 400px;
}

.nummer1:hover{
	
	background-color: #A4A4A4;
    color: white;
	
}

.nummer2{
	
	background-color: white; 
    color: black; 
    border: 2px solid #A4A4A4;
	margin-top: 400px;
}

.nummer2:hover{
	
	background-color: #A4A4A4;
    color: white;
	
}

.Auswahl1{
	
	background-image: url("../Bilder/mercedes.jpg");
	background-repeat: no-repeat;
    background-size: 455px 300px;
	display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-right: auto;
    margin-left: 5%;
    margin-bottom: 100px;
    border-radius: 5px;
    background-color: white;
    width: 40%;
    height: 60%;

	
}

.Auswahl2{
	
	background-image: url("../Bilder/mustang.jpg");
	background-repeat: no-repeat;
    background-size: 455px 300px;
	display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 100px;
    border-radius: 5px;
    background-color: white;
    width: 40%;
    height: 60%;

	
}


.box2{
	
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  width: 60%;
  height: 500px;
  box-shadow: 10px 10px 15px lightgrey;


}

h1{
	height: 40px;
	position: absolute;
	
}

table { 
	border-collapse: collapse; 
	text-align: center; 
	width: 100%;
	height: 50%;
	margin-top: 100px
}
table td, 
table th { 
	padding: 3px 10px; 
}
table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DEDEDE), color-stop(1, #FFFFFF) );
	background:-moz-linear-gradient( center top, #DEDEDE 5%, #FFFFFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE', endColorstr='#FFFFFF');
	background-color:#DEDEDE; 
	color:#000000; 
	font-size: 16px; 
	font-weight: bold; 
} 
table thead th:first-child { 
	border: none; 
}
table tbody td { 
	color: #7D7D7D; 
	font-size: 12px;
	font-weight: normal; 
}
table tbody .alt td { 
	background: #EBEBEB; 
	color: #7D7D7D; 
}
table tbody td:first-child { 
	border-left: none; 
}
table tbody tr:last-child td { 
	border-bottom: none; 
}

